@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Dr. Sillystringz's Factory</h1>

<h3>Engineers</h3>
<ul>
  @foreach (Engineer engineer in Model)
  {
    <li>@Html.ActionLink($"{engineer.Name}", "Details", "engineers", new { id = engineer.EngineerId })</li>
  }
</ul>

<h3>Machines</h3>
<ul>
  @foreach (Machine machine in ViewBag.machineModel)
  {
    <li>@Html.ActionLink($"{machine.Name}", "Details", "machines", new { id = machine.MachineId })</li>
  }
</ul>

<p>@Html.ActionLink("Engineer Home", "Index", "engineers")</p>
<p>@Html.ActionLink("Machine Home", "Index", "machines")</p>