@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Dr. Sillystringz's Factory</h1>

<h3>Engineers</h3>
@foreach (Engineer engineer in Model)
{
  <li>@engineer.Name</li>
}

<h3>Machines</h3>
@foreach (Machine machine in ViewBag.machineModel)
{
  <li>@machine.Name</li>
}

<p>@Html.ActionLink("Engineer Home", "Index", "engineers")</p>
<p>@Html.ActionLink("Machine Home", "Index", "machines")</p>